<mat-grid-list cols="2" rowHeight="1:1" class="container contact">
  <mat-grid-tile>
    <div id="google-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.3229716087617!2d2.283934715049048!3d48.85205137928685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6701b4f58251b%3A0x167f5a60fb94aa76!2sECE%20Paris%20Lyon!5e0!3m2!1sfr!2sfr!4v1586268321324!5m2!1sfr!2sfr"
        allowfullscreen></iframe>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="col-md-6 col-sm-12">

      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2 style="text-align: center;">Nous contacter</h2>
        </div>
      </div>

      <!-- CONTACT FORM -->
      <form *ngIf="!isLoading && sended === ''" (submit)="sendMail()" [formGroup]="Mailer" class="contact" #contactForm>

        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nom complet">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="mail" placeholder="Adresse email">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="obj" placeholder="Objet">
        </mat-form-field>

        <mat-form-field>
                  <textarea matInput formControlName="content" rows="6" name="message"
                            placeholder="Votre message..."></textarea>
        </mat-form-field>

        <button mat-flat-button type="submit" color="primary">Envoyer
        </button>
      </form>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <h2 *ngIf="sended === 'send'">Votre message a été envoyé avec succès.</h2>

      <h2 *ngIf="sended=== 'not-send'">L'e-mail doit être valide et faire plus d'un caractère.</h2>
    </div>
  </mat-grid-tile>
</mat-grid-list>
