<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

</head>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav">
    <div *ngTemplateOutlet="desktopNav"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <ng-container>
      <body>
      <router-outlet></router-outlet>
      </body>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>
</html>

<ng-template #desktopNav>
  <mat-nav-list>
    <a mat-list-item routerLink=".">
      <mat-icon> home</mat-icon>
      <span> Accueil </span>
    </a>

    <div *ngIf="!tool.isLoggedIn()">
      <a mat-list-item routerLink="login">
        <mat-icon> person</mat-icon>
        <span> Login </span>
      </a>

      <a mat-list-item routerLink="register">
        <mat-icon> person_add</mat-icon>
        <span> Register </span>
      </a>
    </div>

    <div *ngIf="tool.isLoggedIn()">
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon> person </mat-icon>
        <span> {{user.lastName}} {{user.firstName}} </span>
      </a>

      <mat-menu #menu="matMenu" yPosition="below">
        <a mat-menu-item routerLink="profile">Profil</a>
        <a mat-menu-item (click)="tool.onLogout()">Déconnexion</a>
      </mat-menu>
    </div>

    <a mat-list-item routerLink="about-us">
      <mat-icon> live_help</mat-icon>
      <span> A propos </span>
    </a>

  </mat-nav-list>
</ng-template>

