<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app.component.css"/>
  <meta charset="UTF-8">
</head>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport="false" [opened]="true" mode="side">
    <div *ngTemplateOutlet="desktopNav"></div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="navbar custom-navbar navbar-fixed-top">
        <div class="navbar-header">
          <img src="./assets/images/logo.png" width="50" height="60">
          <a routerLink="" class="navbar-brand">EN<span>'</span> AUTO</a>
        </div>
      </div>
    </mat-toolbar>

    <body>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

    <footer>

      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
          <div id="google-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.3229716087617!2d2.283934715049048!3d48.85205137928685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6701b4f58251b%3A0x167f5a60fb94aa76!2sECE%20Paris%20Lyon!5e0!3m2!1sfr!2sfr!4v1586268321324!5m2!1sfr!2sfr"
              allowfullscreen></iframe>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="col-md-6 col-sm-12">

            <div class="col-md-12 col-sm-12">
              <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                <h2 style="text-align: center;">Nous contacter</h2>
              </div>
            </div>

            <!-- CONTACT FORM -->
            <form (submit)="sendMail()" [formGroup]="Mailer" class="contact" #contactForm>

              <mat-form-field>
                <input matInput formControlName="name" placeholder="Nom complet">
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="mail" placeholder="Adresse email">
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="obj" placeholder="Objet">
              </mat-form-field>

              <mat-form-field>
                  <textarea matInput formControlName="content" rows="6" name="message"
                            placeholder="Votre message..."></textarea>
              </mat-form-field>

              <button mat-flat-button type="submit">Envoyer
              </button>

              <h6 *ngIf="sended === 'send'">Votre message a été envoyé avec succès.</h6>

              <h6 *ngIf="sended=== 'not-send'">L'e-mail doit être valide et faire plus d'un caractère.</h6>

            </form>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </footer>
    </body>

  </mat-sidenav-content>
</mat-sidenav-container>

</html>

<ng-template #desktopNav>
  <mat-nav-list>
    <a mat-list-item routerLink=".">
      <mat-icon> home</mat-icon>
      <span> Accueil </span>
    </a>

    <div *ngIf="!tool.isLoggedIn()">
      <a mat-list-item routerLink="login">
        <mat-icon> person</mat-icon>
        <span> Login </span>
      </a>

      <a mat-list-item routerLink="register">
        <mat-icon> person_add</mat-icon>
        <span> Register </span>
      </a>
    </div>

    <div *ngIf="tool.isLoggedIn()">
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon> person</mat-icon>
        <span> {{user.lastName}} {{user.firstName}} </span>
      </a>

      <mat-menu #menu="matMenu" yPosition="below">
        <a mat-menu-item routerLink="profile">Profil</a>
        <a mat-menu-item (click)="tool.onLogout()">Déconnexion</a>
      </mat-menu>
    </div>

    <a mat-list-item routerLink="about-us">
      <mat-icon> live_help</mat-icon>
      <span> Qui somme nous? </span>
    </a>

    <a mat-list-item routerLink="about-us">
      <mat-icon> mail</mat-icon>
      <span> Nous contacté</span>
    </a>

  </mat-nav-list>
</ng-template>

