<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app.component.css"/>
  <meta charset="UTF-8">
</head>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport="false" [opened]="true" mode="side">
    <div *ngTemplateOutlet="desktopNav"></div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="navbar custom-navbar navbar-fixed-top">
        <div class="navbar-header">
          <img src="./assets/images/logo.png" width="50" height="60">
          <a routerLink="" class="navbar-brand">EN<span>'</span> AUTO</a>
        </div>
      </div>
    </mat-toolbar>

    <body>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>


    </div>
    </body>

  </mat-sidenav-content>
</mat-sidenav-container>

</html>

<ng-template #desktopNav>
  <mat-nav-list>
    <a mat-list-item routerLink=".">
      <mat-icon> home</mat-icon>
      <span> Accueil </span>
    </a>

    <div *ngIf="!tool.isLoggedIn()">
      <a mat-list-item routerLink="login">
        <mat-icon> person</mat-icon>
        <span> Login </span>
      </a>

      <a mat-list-item routerLink="register">
        <mat-icon> person_add</mat-icon>
        <span> Register </span>
      </a>
    </div>

    <div *ngIf="tool.isLoggedIn()">
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon> person</mat-icon>
        <span> {{user.lastName}} {{user.firstName}} </span>
      </a>

      <mat-menu #menu="matMenu" yPosition="below">
        <a mat-menu-item routerLink="profile">Profil</a>
        <a mat-menu-item (click)="tool.onLogout()">Déconnexion</a>
      </mat-menu>
    </div>

    <a mat-list-item routerLink="valorisation">
      <mat-icon> record_voice_over</mat-icon>
      <span> Valorisation</span>
    </a>

    <a mat-list-item routerLink="about-us">
      <mat-icon> live_help</mat-icon>
      <span> Qui somme nous? </span>
    </a>

    <a mat-list-item routerLink="contact">
      <mat-icon> mail</mat-icon>
      <span> Nous contacter</span>
    </a>


  </mat-nav-list>
</ng-template>
