<div class="container">
  <div>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div style="display: table">
          <h2>Vous êtes une entreprise?</h2>
          <p>Vous êtes une entreprise souhaitant réduire son impact environnemental en installant des récupérateurs
            d'eau
            de
            pluie? Nous sommes là pour vous apporter une première approche de l'installation qu'il vous faut.</p>
          <p>Les régions prévoient des aides financières pour les entreprises s'engageant dans les travaux permettant la
            protection de la ressource en eau. Contactez votre région pour connaître les aides auxquels vous pouvez
            souscrire.
          </p>
          <a href="http://regions-france.org/nous-contacter/" class="btn btn-info" style="width:9em; height:2.5em" target="_blank"><strong>Contacter</strong></a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="./assets/images/entreprise.jpg" class="img-responsive" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div style="display: table">
          <h2><br>Vous êtes un particulier?</h2>
          <p>Vous êtes un particulier souhaitant vous renseigner sur la quantification de l'eau de pluie pour votre
            habitation et vous inscrire potentiellement dans une transition écologique?</p>

          <p>Nous vous proposons des solutions qui tiendront en compte de votre solution familiale et nous adapteront
            ses
            solutions en fonction de l'usage voulu. Pour cela, nous vous invitons à renseigner vos informations dans la
            rubrique "accueil".</p>
          <a
            href="https://www.les-energies-renouvelables.eu/conseils/recuperation-eau-pluie/realiser-projet-recuperation-eau-pluie/"
            class="btn btn-info" style="width:9em; height:4em" target="_blank"><strong>Pour plus
            d'informations</strong></a>
        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <img src="./assets/images/Particulier.jpg" class="img-responsive" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
