
mat-card {
  margin: 1em;
}

.devis {
  display: grid;
}

.button{
  margin-top: 1em;
}

h1 {
  font-size: 26px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-size: 16px;
}

.download {
  font-size: xx-large;
}

.rentability {
  margin-top: 1em;
}
.mat-progress-bar {
  height: 30px !important;
}
