div{

}

mat-cell{
  justify-content: center;
  font-size: 18px;
}

mat-header-cell{
  font-size: larger;
  justify-content: center;
}

h3{
  font-size: larger;
}

button{
  width: fit-content;
  margin-left: 1em;
}

.mat-column-Date{
 flex: 0 0 fit-content;
}

.mat-column-action{
 flex: 0 0 fit-content;
}

mat-icon{
  font-size: 30px;
  margin-left: 1em;
  cursor: pointer;
}

h4{
  margin-top: 1em;
}

.Profile {

  width: 15em;
}

.devis-tile {
  width: 100%;
  padding: 1em;
  margin-left: 5em;
}

footer{
  margin-top: 40em;
}
