<div class="container">

  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
        <br />
        <h2>Qui sommes-nous?</h2>  <br />
        <p>
          Le projet « EN Auto » est né de la volonté de 7 étudiants de l’école d’ingénieurs ECE Paris d’informer et
          d’aider chacun à bénéficier d’une plus grande autonomie en eau.
        </p>
        <p>
          Étudiants en école d’ingénieurs, notre équipe est composée de 7 membres tous animés par la même volonté de
          promouvoir l’accès à l’information et d’offrir des solutions aux personnes souhaitant changer leurs habitudes
          de vie pour une consommation et une gestion des ressources plus éco-responsable.
        </p>
        <p>
          Actuellement, en 4ème année à l’ECE Paris, une école d’ingénieurs généraliste, mais aussi axée sur les
          nouvelles technologies et les problématiques actuelles, nous suivons des cours dans différentes majeures, avec
          la volonté de rendre ce projet utile à la société et de l’inscrire dans les problématiques de notre temps :
          celui de la transition écologique qui est un l’enjeu majeur de notre siècle.
        </p>
        <p>
          Ce Projet Pluridisciplinaire par Équipe, d’une durée de 7 mois, est un projet que nous avons pu mener de façon
          autonome, que nous avons choisi et qui nous tient particulièrement à cœur. Nous espérons qu’à son échelle il
          vous permettra de trouver des réponses à vos questions et de vous aider à déterminer s’il peut être
          intéressant pour vous d’investir dans la récupération d’eau de pluie.
        </p>
      </div>
    </div>


  </div>

  <mat-grid-list cols="3" rowHeight="25em" gutterSize="5px">
    <mat-grid-tile>
      <div class="team-info">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
          <img src="./assets/images/Victor.jpg" height="100%" width="100%" class="img-responsive" alt="">
        </div>
        <p>Victor, </p>
      </div>

    </mat-grid-tile>

    <mat-grid-tile>
      <div class="team-info">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
          <img src="./assets/images/equipe.jpg" height="100%" width="100%" class="img-responsive" alt="">
        </div>
        <p>Maxime, Alexandre, Louis, Clément, Iandraina, </p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="team-info">
        <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
          <img src="./assets/images/Henri.jpg" height="100%" width="100%" class="img-responsive" alt="">
        </div>
        <p>Henri </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="row">
    <div>
      <p style="text-align: justify;">
        Clément, Henri et Louis sont tous les trois issus de la majeure Énergie et Environnement.
      </p>
      <p style="text-align: justify;">
        Alexandre et Iandraina suivent les cours de la majeure Système d’Information.
        Victor est un étudiant belge qui est venu suivre un semestre de cours de la majeure Système d’Informations.
      </p>
      <p style="text-align: justify;">
        Maxime est, pour sa part, en Système d’Embarqués.
      </p>
    </div>
  </div>

</div>


<div class="container">


</div>

