/*---------------------------------------------------------------------------*/
/* NAV BAR */
.sidenav-container {
  height: 100%;
}


.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden{
  display: none;
}


mat-toolbar{
  width: 100%;
}

mat-toolbar a{
  margin-left: 20px;
}

mat-toolbar a{
  font-weight: lighter;
  font-size: larger;
}
