<mat-card>
  <mat-horizontal-stepper [linear]="true"
                          (selectionChange)="selectionChange($event)">
    <mat-step label="Adresse">
      <div *ngTemplateOutlet="step1"></div>
      <button mat-flat-button color="primary" matStepperNext
              [disabled]="! (estiForm.value['address'] &&
              estiForm.value['postalCode'])">Next</button>
    </mat-step>

    <mat-step label="Toiture">
      <div *ngTemplateOutlet="step2"></div>
      <button mat-flat-button color="primary" matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" matStepperNext>Next</button>
    </mat-step>

    <mat-step label="Gouttière">
      <div *ngTemplateOutlet="step3"></div>
      <button mat-flat-button color="primary" matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" matStepperNext>Next</button>
    </mat-step>

    <mat-step label="Premier résultat">
      <div *ngTemplateOutlet="firstDevisTemplate"></div>

      <button mat-flat-button color="primary" matStepperPrevious>Back</button>
      <button mat-flat-button color="primary" (click)="goFurther = true"
              *ngIf="!goFurther">Aller plus loin
      </button>
      <button mat-flat-button color="primary" matStepperNext *ngIf="goFurther">
        Continuer
      </button>
    </mat-step>

    <div *ngIf="goFurther">
      <mat-step label="Utilisation">
        <div *ngTemplateOutlet="step5"></div>
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </mat-step>

      <mat-step label="Consommation"
                *ngIf="choice === 'both'|| choice === 'house'">
        <!--        comsonmation totale-->
        <div *ngTemplateOutlet="step4"></div>
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </mat-step>

      <mat-step label="Cuve">
        <!--        distance cuve maison-->
        <div *ngTemplateOutlet="step6"></div>
        <button mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext
                [disabled]="checkIfTank()"> Terminer
        </button>
      </mat-step>

      <mat-step label="Devis Finale">
        <div *ngTemplateOutlet="Save"></div>

      </mat-step>

    </div>
  </mat-horizontal-stepper>
</mat-card>

<ng-template #step1>
  <form action="" [formGroup]="estiForm">
    <mat-form-field>
      <input matInput type="text" formControlName="address"
             placeholder="Quelle est votre adresse ?">
      <mat-error>Veuilliez entrer une addresse du type : numero rue</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput formControlName="postalCode"
             placeholder="Quelle est votre code postal ?">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #step2>
  <form action="" [formGroup]="estiForm">
    <mat-form-field>
      <input matInput type="number" formControlName="houseArea"
             placeholder="Quelle est la superficie (sol) de votre maison ?">
    </mat-form-field>
    <p>Quelle est votre type de toit</p>
    <mat-radio-group aria-label="Quelle est le type de tuiles de votre toit"
                     formControlName="roof_type">
      <mat-radio-button value="3"> Toit plat</mat-radio-button>
      <mat-radio-button value="2"> Toit en tôle ondulés</mat-radio-button>
      <mat-radio-button value="1"> Toit en tuiles</mat-radio-button>
    </mat-radio-group>

    <p>Avez vous des tuiles a remplacer?</p>
    <mat-radio-group aria-label="Avez vous des tuiles a remplacer?"
                     formControlName="has_tiles">
      <mat-radio-button value="yes"> oui</mat-radio-button>
      <mat-radio-button value="no"> non</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="estiForm.value['has_tiles'] === 'yes' ">
      <input matInput type="number" formControlName="tiles_nb"
             placeholder="combien de tuile(s) a remplacer?">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #step3>
  <form action="" [formGroup]="estiForm">
    <p>Avez vous besoin de faire installer une goutière?</p>
    <mat-radio-group
      aria-label="Avez vous besoin de faire installer une goutière?"
      formControlName="has_gutter">
      <mat-radio-button value="yes"> oui</mat-radio-button>
      <mat-radio-button value="no"> non</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="estiForm.value['has_gutter'] === 'yes' ">
      <input matInput type="number" formControlName="m_gutter"
             placeholder="Combien de mètres de goutière avez vous besoin d'installer?">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #step4>
  <form action="" [formGroup]="estiForm">
    <p>Connaissez vous votre consommation d'eau annuelle ?</p>
    <mat-radio-group
      aria-label="Connaissez vous votre consommation d'eau annuelle ?"
      formControlName="know_consum">
      <mat-radio-button value="yes"> oui</mat-radio-button>
      <mat-radio-button value="no"> non</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="estiForm.value['know_consum'] === 'yes' ">
      <input matInput type="number" formControlName="consommation"
             placeholder="Combien de m3 d'eau consommez vous annuellement ?">
    </mat-form-field>
    <mat-form-field *ngIf="estiForm.value['know_consum'] === 'no' ">
      <input matInput type="number" formControlName="people"
             placeholder="Combien de personnes habitent à l'année votre domicile ?">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #step6>
  <form action="" [formGroup]="estiForm">
    <p>Quelle type d'installation de cuve souhaitez-vous?</p>

    <mat-radio-group
      aria-label="Quelle type d'installation de cuve souhaitez-vous?"
      formControlName="tank_type">
      <mat-radio-button value="dig"> Entérer</mat-radio-button>
      <mat-radio-button value="not-dig"> Non Entérer</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <input matInput type="number" formControlName="tank_dist"
             placeholder="Distance cuve maison?">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #step5>
  <form action="" [formGroup]="estiForm">
    <p>Quelle est l'usage que vous voudriez faire ?</p>
    <mat-radio-group aria-label="Quelle est l'usage que vous voudriez faire ?"
                     formControlName="use">
      <mat-radio-button value="garden"> Jardin seulement</mat-radio-button>
      <mat-radio-button value="house"> Usage domestique</mat-radio-button>
      <mat-radio-button value="both"> Les deux</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="estiForm.value['use'] === 'garden' ">
      <input matInput type="number" formControlName="garden_area"
             placeholder="Quelle est la superfecie de votre jardin ?">
    </mat-form-field>

    <mat-form-field *ngIf="estiForm.value['use'] === 'house' ">
      <input matInput type="number" formControlName="nb_machin"
             placeholder="Combien de machines possedez vous ?">
    </mat-form-field>

    <mat-form-field *ngIf="estiForm.value['use'] === 'both' ">
      <input matInput type="number" formControlName="garden_area"
             placeholder="Quelle est la superfecie de votre jardin ?">
    </mat-form-field>

    <mat-form-field *ngIf="estiForm.value['use'] === 'both' ">
      <input matInput type="number" formControlName="nb_machin"
             placeholder="Combien de machines possedez vous ?">
    </mat-form-field>

  </form>
</ng-template>

<ng-template #Save>
  <p> Voulez vous sauvegarder ou envoyer le devis ?</p>
  <div>
    <button mat-flat-button (click)="save()"> Sauvegarder</button>
    <button mat-flat-button (click)="send()"> Envoyez</button>
  </div>
</ng-template>

<ng-template #firstDevisTemplate>
  <div>
    <p> Coût total de réparation du toit      {{roof_cost}}</p>
    <p> Coût des tuiles   {{tiles_cost}}</p>
    <p> Coût des gouttière {{gutter_cost}} </p>
    <p>Volume totale d'eau récupérable    {{water_volume}}</p>
  </div>
</ng-template>
