<div class="background">
  <div class="quote">
<!--    <h1 class="title">In Rain we trust</h1>-->
  </div>
</div>
<div class="container devis">
  <mat-card *ngIf="first_devis">
    <div>
      <p>Grâce à votre toit vous pouvez récolté {{water_volume}} L/an.</p>
    </div>
  </mat-card>

  <mat-card>
    <form action="" [formGroup]="estiForm">
      <mat-horizontal-stepper [linear]=false
                              (selectionChange)="selectionChange($event)" #stepper>

        <mat-step label="Adresse" class="step_display">
          <mat-form-field>
            <input matInput type="text" formControlName="address"
                   placeholder="Quelle est votre adresse ?">
            <mat-error>Veuilliez entrer une addresse du type : numero rue</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput formControlName="postalCode"
                   placeholder="Quelle est votre code postal ?">
            <mat-error>Veuillez entrer un code postal valide</mat-error>
          </mat-form-field>

          <div>
            <button mat-flat-button type="submit" color="primary" matStepperNext
                    [disabled]="! (estiForm.get('address').valid &&
              estiForm.get('postalCode').valid)">Next
            </button>
          </div>

        </mat-step>

        <mat-step label="Toiture" [stepControl]="estiForm" class="step_display">
          <mat-form-field>
            <input matInput type="number" formControlName="houseArea"
                   placeholder="Quelle est la superficie (sol) de votre maison ?">
          </mat-form-field>

          <p>Quelle est votre type de toit</p>
          <mat-radio-group aria-label="Quelle est le type de tuiles de votre toit"
                           formControlName="roof_type">
            <mat-radio-button value="3"> Toit plat</mat-radio-button>
            <mat-radio-button value="2"> Toit en tôle ondulés</mat-radio-button>
            <mat-radio-button value="1"> Toit en tuiles</mat-radio-button>
          </mat-radio-group>

          <p>Avez vous des tuiles a remplacer?</p>
          <mat-radio-group aria-label="Avez vous des tuiles a remplacer?"
                           formControlName="has_tiles">
            <mat-radio-button value="yes"> oui</mat-radio-button>
            <mat-radio-button value="no"> non</mat-radio-button>
          </mat-radio-group>

          <mat-form-field *ngIf="estiForm.value['has_tiles'] === 'yes' ">
            <input matInput type="number" formControlName="tiles_nb"
                   placeholder="combien de tuile(s) a remplacer?">
          </mat-form-field>

          <div>
            <button mat-flat-button color="primary" matStepperPrevious>Back</button>
            <button type="submit" mat-flat-button color="primary" matStepperNext
                    [disabled]="!estiForm.get('houseArea').valid">
              Next
            </button>
          </div>


        </mat-step>

        <mat-step label="Gouttière" [stepControl]="estiForm" class="step_display">

          <p>Avez vous besoin de faire installer une goutière?</p>

          <mat-radio-group
            aria-label="Avez vous besoin de faire installer une goutière?"
            formControlName="has_gutter">

            <mat-radio-button value="yes"> oui</mat-radio-button>
            <mat-radio-button value="no"> non</mat-radio-button>
          </mat-radio-group>

          <mat-form-field *ngIf="estiForm.value['has_gutter'] === 'yes' ">
            <input matInput type="number" formControlName="gutter_length"
                   placeholder="Combien de mètres de goutière avez vous besoin d'installer?">
          </mat-form-field>

          <div>
            <button mat-flat-button color="primary" matStepperPrevious>Back</button>
            <button type="submit" mat-flat-button color="primary" matStepperNext>
              Next
            </button>
          </div>

        </mat-step>

      <mat-step label="Première estimation" class="step_display">
        <h3>Grâce à votre toit vous pouvez récolté {{water_volume}} L/an.</h3>
        <p>Cela correspond environ à {{water_volume / 60}} douches/an 🚿 (une
          douche consomme en moyenne 60L) </p>
        <p>Vous pourriez économiser jusqu'à {{final_save}} €/an</p>

          <div>
            <button mat-flat-button color="primary" matStepperPrevious>Back</button>
            <button type="submit" mat-flat-button color="primary"
                    (click)="goFurther()"
                    *ngIf="!go_further" matStepperNext>Aller plus loin
            </button>
            <button mat-flat-button type="submit" color="primary" matStepperNext *ngIf="go_further">
              Continuer
            </button>
          </div>

        </mat-step>

        <div *ngIf="go_further">
          <mat-step label="Utilisation" class="step_display">
            <p>Quelle est l'usage que vous voudriez faire ?</p>

            <mat-radio-group aria-label="Quelle est l'usage que vous voudriez faire ?"
                             formControlName="use">
              <mat-radio-button value="garden"> Jardin seulement</mat-radio-button>
              <mat-radio-button value="house"> Usage domestique</mat-radio-button>
              <mat-radio-button value="both"> Les deux</mat-radio-button>
            </mat-radio-group>

            <mat-form-field *ngIf="estiForm.value['use'] === 'garden' ">
              <input matInput type="number" formControlName="garden_area"
                     placeholder="Quelle est la superfecie de votre jardin ?">
            </mat-form-field>

            <mat-form-field *ngIf="estiForm.value['use'] === 'house' ">
              <input matInput type="number" formControlName="nb_machin"
                     placeholder="Combien de machines possedez vous ?">
            </mat-form-field>

            <div *ngIf="estiForm.value['use'] === 'both'">
              <mat-form-field>
                <input matInput type="number" formControlName="garden_area"
                       placeholder="Quelle est la superfecie de votre jardin ?">
              </mat-form-field>

              <mat-form-field>
                <input matInput type="number" formControlName="nb_machin"
                       placeholder="Combien de machines possedez vous ?">
              </mat-form-field>
            </div>

            <div *ngIf="estiForm.value['use'] === 'both' || estiForm.value['use'] === 'house'">

              <p>Connaissez vous votre consommation d'eau annuelle ?</p>

              <mat-radio-group
                aria-label="Connaissez vous votre consommation d'eau annuelle ?"
                formControlName="know_consum">
                <mat-radio-button value="yes"> oui</mat-radio-button>
                <mat-radio-button value="no"> non</mat-radio-button>
              </mat-radio-group>

              <mat-form-field *ngIf="estiForm.value['know_consum'] === 'yes' ">
                <input matInput type="number" formControlName="consommation"
                       placeholder="Combien de m3 d'eau consommez vous annuellement ?">
              </mat-form-field>

              <mat-form-field *ngIf="estiForm.value['know_consum'] === 'no' ">
                <input matInput type="number" formControlName="people"
                       placeholder="Combien de personnes habitent à l'année votre domicile ?">
              </mat-form-field>

            </div>

            <div>
              <button mat-flat-button color="primary" matStepperPrevious>Back</button>
              <button type="submit" mat-flat-button color="primary" matStepperNext>
                Next
              </button>
            </div>

          </mat-step>

          <mat-step label="Cuve" class="step_display">

            <!--distance cuve maison-->
            <p *ngIf="water_volume >= 1000">Quelle type d'installation de cuve souhaitez-vous?</p>
            <p *ngIf="water_volume < 1000">Cuve : non enterré</p>

            <mat-radio-group
              aria-label="Quelle type d'installation de cuve souhaitez-vous?"
              formControlName="tank_type" *ngIf="water_volume >= 1000">
              <mat-radio-button value="dig"> Entérer</mat-radio-button>
              <mat-radio-button value="not-dig"> Non Entérer</mat-radio-button>
            </mat-radio-group>

            <p *ngIf="water_volume < 1000"> Pour un volume de récupération inférieur à 1000L nous déconseillons les
              cuves
              enterrés. </p>

            <mat-form-field *ngIf="(water_volume >= 1000 && estiForm.value['tank_type'] === 'dig')">
              <input matInput type="number" formControlName="tank_dist"
                     placeholder="Distance cuve maison?">
            </mat-form-field>

            <div>
              <button mat-flat-button color="primary" matStepperPrevious>Back</button>
              <button type="submit" mat-flat-button color="primary" matStepperNext (click)="computeFinalDevis()">
                Terminer
              </button>
            </div>

          </mat-step>

          <mat-step label="Devis Finale" class="step_display">
            <p> Sauvegardé votre devis en créant un compte sur notre site!</p>
            <div>
              <button mat-flat-button (click)="save()"> Sauvegarder</button>
            </div>
          </mat-step>

        </div>
      </mat-horizontal-stepper>
    </form>
  </mat-card>
</div>
<div class="container">
  <div style="margin-top: 2em">
    <p style="text-align: justify; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">« EN
      auto » a pour objectif d’apporter une aide et des informations à la population française en matière de
      quantification de la récupération d’eau de pluie pour leur habitation. Cela leur permet ainsi de s’inscrire dans
      la transition écologique et potentiellement de réduire leur facture en eau en réalisant des économies non
      négligeables.
    </p>
  </div>
  <div>
    <h1 class="solution-title">
      Notre solution
    </h1>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="50px">
      <mat-grid-tile class="solution">
        <div>
          <p>
            Nous vous proposons, grâce au remplissage d'un formulaire, l'obtention d'un devis qui chiffre les
            économies que vous pouvez réaliser en fonction de la quantité d'eau éventuelle que vous pourriez
            récupérer. Pour estimer cette quantité d'eau récupérable, nous prenons en compte, votre lieu d'habitation,
            votre type de toiture ainsi que le prix de l'eau dans votre commune.
          </p>
          <p>
            Pour réaliser notre estimation, nous prenons en compte plusieurs paramètres.
            Parmi ceux-là, l'étude du type de toiture, notamment, est une étape importante.
            Pour des raisons sécuritaires et sanitaires, les toits en amiante ou en plomb sont exclus et ne peuvent
            servir à la récupération d'eau de pluie.
            Tous les autres types de toit conviennent, mais ils n'offrent pas tous les mêmes capacités de
            récupération.
            Les toits inclinés ou plats avec un revêtement en tuiles, synthétique ou bitumeux, ont, par exemple, une
            capacité de rétention supérieure à celle d'un toit végétalisé.
          </p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="solution">
        <img src="./assets/images/les-types-de-toiture.jpg" class="img-responsive" alt="">
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>

