mat-form-field {
  width: 30em;
  display: grid;
}

button {
  font-size: 16px;
  margin-left: 2%;
}

mat-card {
  width: fit-content;
  margin: 3em auto;
}

mat-radio-button {
  margin: 2%
}

.step_display {
  display: flex;
}

.nav {
  background-color: teal;
  border: 0;
  width: 200px;
  height: 40px;
}

.background{
  height: 30em;
  width: auto;
  background-image: url(~/../assets/images/fond-pluie1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  font-size: 45px;
  margin-left: 10em;
  margin-top: 1em;
  margin-right: 10em;
  justify-content: center;
}

.solution{
  display: flex;
  height: 70%;
}
.solution-title{
  font-size: xx-large;
  margin-top: 2em;
  margin-left: 2em;
}
.quote{
  width: min-content;
}

.devis{
  margin-top: 3em;
  margin-bottom: 5em;
}
